/* added color vairables for easier updating */
/* pulled color scheme from https://www.color-hex.com/color-palette/1046123 */
:root{
    --background: #3f2222;
    --boxes:  #5b7e48; 
    --aboutMe: #7b976c;
    --link: #5c3333;
    --contact:#6b8a5a;
    --nav: #517140;
    --header: #adbea3;
}
/* changed colors of links */
a{
    color: var(--link);
    text-decoration-color: var(--link)	;
}
/* established background colors */
body{
    background-color: 	var(--background);
}
/* header class styling */
.header{
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--header);
}
/* css for box of on-page links */
.linkBox{
    width:100%;
    background-color: var(--nav);
    padding: 2%;
    height: auto;
    p{
        display: inline-block;
        padding-left: 5%;
        padding-top: 3%;
        text-decoration: underline ;
    }
    
}
/* w3 schools https://www.w3schools.com/css/css_align.asp for inspo on center class  */
.center{
    display:block;
    margin: auto;
    width: auto;
    padding: 5%, 10%, 5%, 10%;
    text-align: center;
}
/* css for on-page links */
.navLinks{
    margin: 15px;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--nav);
}

/* css for avatar image */
#avatar{
    width: 120px;
}
#imgBox{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10px;
    align-self: center;

}
/* styling of challenge boxes */
.challengeBox{
    display:flex;
    flex-wrap: wrap;
    margin: 2%;
    padding: 5%;
    container-type: card;
    box-sizing: border-box;
    
    li{
        display: block;
        background-color: var(--boxes);
        flex: 1 0 200px ;
        
        ul{
            flex-shrink: inherit;
            text-size-adjust: auto;
            
        }
    }
}
#challenges li {
    display: inline-block;
    width: 70%;
    margin: 10px;
    padding: 5px;
    height: auto;

    img{
        margin-top: 2%;
        margin-bottom: 5%;
        width: 100%;
        height: auto;
    }
    a {
        margin-bottom: 5px;
    }

    .challengeDescription {
        font-weight: 700;
    }

    ul{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
/* contact styling */
#contactInfo {
    display: block;
    justify-items: center;
    margin: 10px;

    li p{
        text-align: center;
    }
    
    li {
        display: flexbox;
        margin-top: 15px;
    }
}

/* about me styling */
#aboutMe{  
    p{
        text-align: center;
        font-size: 20px;
    }
}


#contactInfo{
    margin-top: 20%;
    margin-bottom: 20%;
    padding: 5%;
    background-color: var(--contact);
}

#aboutMe{
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 20%;
    margin-bottom: 10%;
    background-color: var(--aboutMe);
}

/* screen responsiveness */

/* tablet */
@media screen and (max-width: 769px) {
    #contactInfo{
        margin-top: 5%;
        margin-bottom: 5%;
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        width: 100%;
        margin-left: 0%;
    }

    #aboutMe{
        margin-top: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
}
/* mobile large */
@media screen and (max-width: 426px) {
    
}
/* mobile medium */
@media screen and (max-width: 376px) {
   .header{
    font-size: 50px;
   }
   .navLinks{
    margin-top: 0px;
    margin-bottom: 2.5%;
   }

   .linkBox{
    p{
        font-size: 30px;
    }
   }

   #imgBox{
    margin-bottom: 0%;
   }
    
}